<div *ngIf="this.article && this.content else loadBlock">
    <div *ngIf="!this.editorView then viewPanel else editPanel" ></div>
</div>


<ng-template #viewPanel>
    <div class="title"><h2>{{ this.article.title | titlecase }}</h2></div>
    <p class="content" [innerHTML]="content.content | markdown"></p>
</ng-template>


<ng-template #editPanel>
    <div *ngIf="this.dataStoreService.authenticated then edit else login"></div>
</ng-template>

<ng-template #login>
    <app-login></app-login>
</ng-template>
<ng-template #edit>
    <app-edit-form [form]="editForm"></app-edit-form>
</ng-template>

<ng-template #loadBlock>
    There is currently no content.
</ng-template>