<div *ngIf="this.toc && this.toc.size > 0; else loadBlock">
    <div *ngFor="let entry of this.toc | keyvalue">
        <span><h3>{{ entry.key }}</h3></span>
        <div *ngFor="let article of entry.value">
            
            <a *ngIf="!this.editorView" [title]="article.title" [routerLink]="['/article', article.articleId]">
                {{ article.title }}
            </a>
            <a *ngIf="this.editorView" [title]="article.title" [routerLink]="['/article/edit', article.articleId]">
                {{ article.title }}
            </a>
        </div>
    </div>
</div>
<ng-template #loadBlock>
    <img src="assets/img/colorload.gif">
</ng-template>
