.text-center {
  text-align: center;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
img {
  width: 100%;
  opacity: 0.2;
}
