<div *ngIf="this.tableOfContent; else loadBlock">
    <div *ngIf="this.tableOfContent.size == 0">
        There is no Article at the moment
    </div>
    <a *ngIf="this.editorView" routerLink="/article/new/edit">
        New Blog
    </a>
    <div *ngFor="let entry of this.tableOfContent | keyvalue">
        <span><h3>{{ entry.key }}</h3></span>
        <div *ngFor="let article of entry.value">
            
            <a *ngIf="!this.editorView" [title]="article.title" [routerLink]="['/article', article.articleId]">
                {{ article.title }}
            </a>
            <a *ngIf="this.editorView" [title]="article.title" [routerLink]="['/article', article.articleId, 'edit']">
                {{ article.title }}
            </a>
        </div>
    </div>

</div>
<ng-template #loadBlock>
    <img src="assets/img/colorload.gif">
</ng-template>
