.title {
    text-align: center;
    margin-bottom: 5vh;
}
.meta-data {
    text-align: center;
    margin-bottom: 5vh;
}
.content {
    margin-left: 0px;
}
img {
    margin-top: 30vh;
    margin-left: 30vw;    
    max-width: 26%;
    max-height: 26%;
    opacity: 0.2;
  }