.title {
    text-align: center;
    margin-bottom: 5vh;
}
.meta-data {
    text-align: center;
    margin-bottom: 5vh;
}
.content {
    margin-left: 0px;
}
.content {
    width: 40%;
    height: 90vh;
    margin-left: 5vw;
    float: left;
}
.preview {
    width: 45%;
    margin-left : 5vw;
    padding-left: 1vw;
    height: 90vh;
    border-style: dotted;
    float: left;
}
img {
    margin-top: 30vh;
    margin-left: 30vw;    
    max-width: 26%;
    max-height: 26%;
    opacity: 0.2;
  }