<form [formGroup]="form">
    <div formGroupName="article">
    <div class="article">title: <input type="text" formControlName="title"/><br>
        <label>Category</label> 
        <select name="category" formControlName="categoryId">
            <option selected value=""> -- select a category -- </option>
            <option *ngFor="let cat of this.categories$ | async" [value]="cat.categoryId">
                {{ cat.categoryName }}
            </option>
        </select>
    </div>
    </div>
    <div formGroupName="content">
        <textarea class="content" formControlName="content"></textarea>
        <div class="preview" [innerHTML]="form.get('content').get('content').value | markdown ">
        </div>
    </div>
    
    <button type="submit" style="margin-left: 5vw;" (click)="saveChange()">Save</button>
    
</form>
