<form [formGroup]="editForm">
    <div formGroupName="article">
    <div class="title">title: <input type="text" formControlName="title"/>
    </div>
    <div class="meta-data">
        <label>Category</label> 
        <select name="category" formControlName="category" (change)="changingCategory()">
            <option selected value=""> -- select a category -- </option>
            <option *ngFor="let cat of this.categories | async" [value]="cat.categoryId">
                {{ cat.categoryId }}. {{cat.name}}
            </option>
        </select>
    </div>
    </div>
    <textarea class="content" formControlName="content"></textarea>
    <div class="preview" formControlName="content" innerHTML="content | markdown"></div>
    <button type="submit" (click)="saveChange()">Save</button>
</form>